{% extends "base.html" %}
{% block title %} MTG Search Demo {% endblock %}

{% block universal_facets %}
{% if query %}


    {% if facets.fields.mana_cost %}
    <div>
        <dl>
                <dt>Mana Cost</dt>
                {% for mana_cost in facets.fields.mana_cost %}
                <dd><a href="?{{ getvars }}&selected_facets=mana_cost_exact:{{ mana_cost.0|urlencode }}">{{ mana_cost.0 }}</a> ({{ mana_cost.1 }})</dd>
                {% endfor %}
        </dl>
    </div>
    {% endif %}

    {% if facets.fields.cmc %}
    <div>
        <dl>
                <dt>Converted Mana Cost</dt>
                {% for cmc in facets.fields.cmc %}
                <dd><a href="?{{ getvars }}&selected_facets=cmc_exact:{{ cmc.0|urlencode }}">{{ cmc.0 }}</a> ({{ cmc.1 }})</dd>
                {% endfor %}
        </dl>
    </div>
    {% endif %}
    
    {% if facets.fields.sets %}    
    <div>
        <dl>
                <dt>Set</dt>
                {% for sets in facets.fields.sets %}
                <dd><a href="?{{ getvars }}&selected_facets=sets_exact:{{ sets.0|urlencode }}">{{ sets.0 }}</a> ({{ sets.1 }})</dd>
                {% endfor %}
        </dl>
    </div>
    {% endif %}

    {% if facets.fields.colors %}
    <div>
        <dl>
                <dt>Color</dt>
                {% for colors in facets.fields.colors %}
                <dd><a href="?{{ getvars }}&selected_facets=colors_exact:{{ colors.0|urlencode }}">{{ colors.0 }}</a> ({{ colors.1 }})</dd>
                {% endfor %}
        </dl>
    </div>
    {% endif %}

    {% if facets.fields.type %}
    <div>
        <dl>
            <dt>Type</dt>
            {% for type in facets.fields.type %}
            <dd><a href="?{{ getvars }}&selected_facets=type_exact:{{ type.0|urlencode }}">{{ type.0 }}</a> ({{ type.1 }})</dd>
            {% endfor %}
        </dl>
    </div>
    {% endif %}

    {% if facets.fields.super_types %}
    <div>
        <dl>
            <dt>Super Type</dt>
            {% for super_types in facets.fields.super_types %}
            <dd><a href="?{{ getvars }}&selected_facets=super_types_exact:{{ super_types.0|urlencode }}">{{ super_types.0 }}</a> ({{ super_types.1 }})</dd>
            {% endfor %}
        </dl>
    </div>
    {% endif %}

    {% if facets.fields.sub_types %}
    <div>
        <dl>
            <dt>Sub Type</dt>
            {% for sub_types in facets.fields.sub_types %}
            <dd><a href="?{{ getvars }}&selected_facets=sub_types_exact:{{ sub_types.0|urlencode }}">{{ sub_types.0 }}</a> ({{ sub_types.1 }})</dd>
            {% endfor %}
        </dl>
    </div>
    {% endif %}

{% endif %}
{% endblock universal_facets %}

{% block type_facets %}
{% if query %}

    {% if facets.fields.loyalty %}
    <div>
        <dl>
            <dt>Loyalty</dt>
            {% for loyalty in facets.fields.loyalty %}
            <dd><a href="?{{ getvars }}&selected_facets=loyalty_exact:{{ loyalty.0|urlencode }}">{{ loyalty.0 }}</a> ({{ loyalty.1 }})</dd>
            {% endfor %}
        </dl>
    </div>
    {% endif %}

    {% if facets.fields.power %}
    <div>
        <dl>
                <dt>Power</dt>
                {% for power in facets.fields.power %}
                <dd><a href="?{{ getvars }}&selected_facets=power_exact:{{ power.0|urlencode }}">{{ power.0 }}</a> ({{ power.1 }})</dd>
                {% endfor %}
        </dl>
    </div>
    {% endif %}

    {% if facets.fields.toughness %}
    <div>
        <dl>
                <dt>Toughness</dt>
                {% for toughness in facets.fields.toughness %}
                <dd><a href="?{{ getvars }}&selected_facets=toughness_exact:{{ toughness.0|urlencode }}">{{ toughness.0 }}</a> ({{ toughness.1 }})</dd>
                {% endfor %}
        </dl>
    </div>
    {% endif %}


{% endif %}
{% endblock type_facets %}
   
{% block search %}
    <div class="search-form-container">
        <form method="get" action=".">
            <table>
                <tbody>
                    <tr>{{ form.as_table }}<td><input type="submit" value="Search"></td></tr>
                </tbody>
            </table>
        </form>
    </div><!-- search form container -->
{% endblock search %}

{% block results %}
{% if query %}
        <p>{% for facet in form.selected_facets %} {{ facet }} &gt; {% endfor %}</p>
        <!-- Display results... -->
        {% if paginator.count %}
            <p>{{ paginator.count }} matching cards found.</p>
            {% spaceless %}
            <p>{% if page.has_previous %} <a href="?{{ getvars }}&page={{ page.previous_page_number }}">Previous</a> {% endif %} Page {{ page.number }} of {{ paginator.num_pages }} {% if page.has_next %} <a href="?{{ getvars }}&page={{ page.next_page_number }}">Next</a> {% endif %}</p>{% endspaceless %}
            {% for result in page.object_list %}
                <div class="search_result" style="border: 1px solid black; padding: 0.5em; margin-top: 0.5em;">
                    <p>{{ forloop.counter0|add:page.start_index }}. {{ result.name }} <b>{{ result.mana_cost }}</b></p>
                    <p>{{ result.card_type }}</p>
                    <p>{{ result.text }}</p>
                    {% if result.type == "Creature" %}
                       <p>{{ result.power }} / {{ result.toughness }}</p>
                    {% endif %}
                    {% if result.type == "Planeswalker" %}
                       <p>{{ result.loyalty }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            {% spaceless %}
            <p>{% if page.has_previous %} <a href="?{{ getvars }}&page={{ page.previous_page_number }}">Previous</a> {% endif %} Page {{ page.number }} of {{ paginator.num_pages }} {% if page.has_next %} <a href="?{{ getvars }}&page={{ page.next_page_number }}">Next</a> {% endif %}</p>{% endspaceless %}
        {% else %}
          <p>Sorry, no matching cards found.</p>
        {% endif %}
    {% endif %}
{% endblock results %}
